<div class="container">
  <h1>List of Cocktails </h1>

  <% @cocktails.each do |cocktail| %>
  <ul>
    <li>
      <%= link_to cocktail.name, cocktail_path(cocktail) %>
    </li>
  </ul>
  <% end %>

<%= link_to "Create a new Cocktail", new_cocktail_path, class: "btn btn-primary btn-lg" %>

</div>

<%= cl_image_tag('c8dboryyqhybucqnuthl',
      width: 400, height: 300, crop: :fill) %>
