<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1482349212652-744925892164?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9b719ce0351a8dd27a1ecc9f18d9210f&auto=format&fit=crop&w=2090&q=80');">
  <div class="banner-content">
    <h1>Drinking House</h1>
    <p>Learn to drink with us in London</p>
    <%= simple_form_for(@cocktails) do |f| %>
        <%= f.association :cocktails %>
<!--         <a class="btn btn-primary btn-lg"><%= link_to cocktail.name, cocktail_path(cocktail) %></a> -->
    <% end %>
  </div>
</div>


