<div class="navbar-cocktail">

  <!-- Right Navigation -->
  <div class="navbar-cocktail-right hidden-xs hidden-sm">

    <a href="" class="navbar-cocktail-item navbar-cocktail-link">Cocktails</a>
    <a href="" class="navbar-cocktail-item navbar-cocktail-link">Ingredients</a>


